
<div class="hd">
	<h2>Enter your query from the Content API</h2>
</div>

<form action="/content" method="post">

<div class="bd">
	<fieldset>
		<div class="field">
			<label for="name">Name of your query</label>
			<input id="name" type="text" name="name">
		</div>
		<div class="field">
			<label for="uri">URI of your query</label>
			<input id="uri" type="text" name="uri">
		</div>
		<div class="field">
			<input type="submit" class="button">
		</div>
	</fieldset>
</div>
</form>

</div>
