<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="robots" content="noindex" />
	<link rel="stylesheet" href="/styles/screen.css"/>
	<title>Create an app from the guardian.co.uk</title>
</head>
<body>

<div id="wrapper" class="twelve-col identity">
    <div class="eight-col">
        <h1>
            <a href="http://www.guardian.co.uk"><img src="/images/guardian_logo.gif" alt="guardian.co.uk"/></a>
        </h1>

        <div class="component">
			<%- body %>
		</div>

    </div>
</div>        
</body>
</html>
